/*
******Seletor universal*******
* {
	border: 1px solid red;
}

******Seletor de texto *******
h1 {
	color: green;
}

******Seletor de classe*******
.verde {
	
}
ou 
p.verde {
	
}

******Seleto de Id************
#cabecalho {
	
}

******Seletor de filho********
li>a {
	color: red;
	text-decoration: none;
}

******Seletor de descendente****
p a {
	color: red;
}

/******Seletor de irmão adjacente*****

obs: paragrafo logo abaixo de h1(irmao posterior )
h1+p {
	color: black;
}

******Herança e Especificidade*********
Observação: Por padrão o border e o background nao são herdados;

* {
	border: 1px solid blue;//neste caso irá funcionar pois 
							 estamos aplicando em todos os 
							 elemento
}

body {
	color: red;
	font-size: 25px;
	border: 1px solid blue;
	background: gray;
}
*********Seletores iguais, exceção important
p {
	color: blue !important;
}

p {
	color: red;
}
OBS: No caso de DOIS seletores iguais sempre o ultimo vai
		ser aplicado. A exceção é o !important, que vai 
		dizer esse atributo é mais importante que qualquer 
		outro.
		Não utilizar o IMPORTANT com frequencia, pois pode 
		tornar o codigo confuso.

	Se um seletor for mais específico que o outro a regra mais
	especifica será aplicada
	(tera precedencia sobre regras mais gerais)

* {/* 4º  
	color: red;
}
h2 {/* 3º 
	color: blue;
}

h2.verde {/* 2º  
	color: green;
}
h2#amarelo {/* 1º  
	color: yellow;
}

****Barra de navegação vertical*******

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	padding: 20px;
	border: 1px solid red;
	background: url(../imagens/seta.png) no-repeat left center;
}
*/

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul a {
	width: 200px;
	height: 40px;
	display: block;
	color: #000;
	text-decoration: none;
	text-indent: 40px;
	line-height: 40px;
	background: url(../imagens/menu.png);

}

a:hover {
	background-position: right bottom;/*movimenta a imagem*/
	color: #fff;
}